.login-container{
    background-image: url('/loginbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.login-box{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    background: rgba( 255, 255, 255, 0.3 );
    display: flex;
    width: 441px;
    height: 500px;

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form-credentials{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    row-gap: 1rem;
    border-radius: 10px;
}
input{
    border-radius: 10px;
    padding-inline: 1rem;
    height: 2rem;
    border: none;
}


