.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7DDCF11C;
    height: 100%;
    position: relative;
}

.home-img{
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
    height: 50%;
}

.start-button{
    position: absolute;
    cursor: pointer;
    top: 48%;
    width: 9rem;
    height:2rem;
    background-color: black;
    border-radius: 30px;
    color:white;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}


.home-content{
    padding: 2rem;
}

.home-text{
    background-color:rgba(0, 0, 0, 0.1);
    padding:2rem;
    border-radius: 30px;
    height: 10rem;
}